body {
    background: black;
    color: #00ff00;
    font-family: "Courier New", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 70%;
    max-width: 600px;
    background: #000;
    padding: 20px;
    border: 2px solid #00ff00;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    text-shadow: 0 0 10px #00ff00;
}

.screen {
    background: #000;
    border: 1px solid #00ff00;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: black;
    border: 2px solid #00ff00;
    color: #00ff00;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #003300;
}
